.card_Img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding-bottom: 0px;
}
.card_bg {
    background-color: rgb(241, 247, 252);
    padding: 20px;
    margin: 20px; 
    max-width: 320px;
    cursor: pointer;
}

.link {
    cursor: pointer;
}

.card_categorie {
    background-color: orange;
    font-size: 0.8em;
    color: white;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.card_title {
    display: block;
    padding: 0.2em;
    margin: 0.2em;
    font-size: 1.4em;
}
.card_date {
    background-color: rgb(25, 124, 155);
    font-size: 0.8em;
    color: white;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}