@import 'styles/color.scss';

.separator {
    background-color : #ff9900;
    width: 1px;
    height: 75%;
}
.services_bg {
    //background-image: linear-gradient(to right bottom, #1c5fac81, #12326d, #0a1c4e, #34599e, #000000);
    // background-image: linear-gradient(175deg, #000000 20%, #ff9900 calc(20% + 2px))
    //@extend: linear-gradient(to right bottom, #000408, #09162e,  #000000);
    background-color: #204f75;

    p {
        color: white;
    }

    h1 {
        text-align: center;
    }

   
}


 // *********************INTRO*******************************

.services_intro_title {

    padding-bottom: 30px;
    padding-top: 50px;

    h4 {
        
        text-transform: uppercase;
        font-family: Staatliches;
        font-size: 2.5em;

    }
}

.services_intro_parag {
    padding-bottom: 100px;

    p {
        color: white;
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.1em;
        padding-bottom: 2em;
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 25px;       
    }
}


 // ********************* BOX *******************************

.services_box {
   
    border-radius: 30px;
    background-color: rgba(241, 247, 252, 0.623);
    text-align: left; 
    padding:2em;

    h3 {
        
        font-size: 40px;
    }

    p {
        color: rgba(0, 0, 0, 0.849);
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }

}

.services_box_title {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-family: Staatliches;
    line-height: 1.5rem;
}

.services_box_icon {
   // margin-top: -90px;
    margin-bottom: 10px;
    img {
        width:50%;
    }
}
.services_icon {
    padding: 5px
}
.services_icon_services {
    width: 30px;
   
}

.services_box_services {
    padding: 1em;
    margin-top: -80px; 
    margin-bottom: 50px;  
    text-align: center;
}

.mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      #204f7525,
      #00ccffa2 50%,
      #204f75,);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }


 // ********************* ITEM *******************************

.services_item {
    //height: 250px;
    padding-top: 20px;
    padding-bottom: 100px;
    background-image: url('/assets/img/services-background.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;


    h4 {
        text-align: center;
    }

}



.services_separator {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    fill: #204f75;
}

.services_icon2 {
    margin-bottom : 50px;
    margin-left: 150px;
    width: 100px;
    z-index: 4;
}


@media (max-width: 600px) {
.services_box_services {
    padding: 2em;
    margin-top: 0px;   
    text-align: center;
}
   
  }
