@import 'styles/color.scss';

.icon {
  color: white;
  background-color: rgba(0, 0, 0, 0.164);
  padding:5px;
  border-radius: 10px;
}

.mobileAppbar {
  position: sticky;
  z-index: 2;
  top: 0px;
  right: 20px;
  padding: 5px;
  text-align: right; 
}

.list {
  font-family: Staatliches;
  font-weight: bold;
  font-size: 3em;
    color: rgb(255, 255, 255);
}

