@import 'styles/color.scss';

.desktopAppbar {
  position: absolute;
  //left: 0;
  top: 0;
  //background-color: #0d4c803f;
  width: 100vw;
  z-index: 2;
  ul {
    margin:0;
  }
  a {
  padding-left: 1em;
 padding-right: 1em;
 text-decoration: none;
 font-weight: bolder;
 text-transform: uppercase;
  }
}
.icon {
  color: white;
  background-color: rgba(0, 0, 0, 0.164);
  padding:5px;
  border-radius: 10px;
}

.btn {
 //padding-left: 1em;
 //padding-right: 1em;
 text-decoration: none;
 //font-weight: bolder;
 //text-transform: uppercase;
 font-size: 0.8em;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: $color2;
 line-height: 2.2;
 position: relative;
 transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); 
 cursor: pointer;
 user-select: none;
}
 
.btn:before, .btn:after {
 content: '';
 position: absolute;
 transition: inherit;
 z-index: 1;
}

 
.from_center:before {
 display: block;
 top: 0;
 left: 50%;
 height: 100%;
 width: 0;
 border: 1px solid rgb(255, 255, 255);
 border-left: 0;
 border-right: 0;

}
 
.from_center:after {
 display: block;
 bottom: 0;
 left: 0;
 height: 0;
 width: 100%;
 
}
 
.from_center:hover:before {
 left: 0;
 width: 100%;
}
 
.from_center:hover:after {
 top: 0;
 height: 100%;
}



.mobileNav {
  width: 100%;
  background-color: $color1;
}




// @media (max-width: 499px) {
//   .desktopAppbar {
//     display: none;
//     visibility: hidden;
//   }
//   .btn {
//     display:none;
//   }
 
// }

// @media (min-width: 500px) {
//   .mobileAppbar {
//     visibility: hidden;
//   }
// }


.mobileAppbar {
  position: sticky;
  z-index: 2;
  top: 0px;
  right: 20px;
  padding: 5px;
  text-align: right; 
}

.list {
  font-family: Staatliches;
  font-weight: bold;
  font-size: 3em;
    color: rgb(255, 255, 255);
}

