@import 'styles/color.scss';

.bg_black {
  background-color: black;
  // padding: 0;
  //margin: 0;
}
body {
  margin:0;
}

.circularProgress {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  // .active {
  //   color: white;
  // }
  // .hover {
  //   color: white;
  // }
}

h1 {
  font-family: Staatliches;
  font-size: 4em;
  margin-top: 0.5em;
  padding-top: 0.5em;
  color: white;
  margin-bottom: 10px;

}

h2 {
  font-family: Staatliches;
  font-size: 2.5em;
  color: $color1;
}

h3 {
  font-family: Staatliches;
  font-size: 1.9em;
  color:rgb(49, 49, 49);
  // background-color: $color1;
  display: inline;
  text-transform: uppercase;
  
 }

 h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: rgb(255, 255, 255);
  margin:0.5em;
  //display: inline;
  //text-transform: uppercase;
 }
 h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  // color: white;
  color: $color1;
  font-weight: 800;
  display: inline;
  text-transform: uppercase;
 }

p {
  font-family: 'Roboto', sans-serif;
  //color: white;
  margin: 0;
}


img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.section {
  padding-top: 500px;
  padding-left: 0;
  padding-right: 0;
}

ul {
  list-style:none
}